/* contact */
#contact {
  background: white;
  padding: 60px 2px 2px 0px;
  background-color: $light-gray;
}

#contact-area {
  padding: 0px 20px;
}

/* contact form area */
.login-box-input {
  margin-bottom: 1.25rem;
  height: 2.5rem;
  border: 0;
  padding-left: 0;
  box-shadow: none;
  border-bottom: 1.0px solid $primary-color;
  font-weight: 400;
  padding: 8px 5px;
  font-size: 1.1em;
}

.login-box-input:focus {
  color: $primary;
  transition: 0.3s ease-in-out;
  box-shadow: none;
  border: 0;
  border-bottom: 2px solid $primary-color;
}

input.button.expanded {
  margin-top: 8px;
  font-size: 0.9rem;
  line-height: 1.25;
  border-radius: 2px;
  background-color: #EFBB20;
  box-shadow: -3px -3px 5px $light-gray;
  color: $light-gray;
  font-weight: 450;
}
.button.expanded {
  @include button(true, lighten(#EFBB20, 30%), auto, auto, solid);
  color: $light-gray;
  text-transform: uppercase;
  margin-bottom: rem-calc(5);
}
