/* global style*/
h3 {
  padding-bottom: rem-calc(7);
}

hr {
  border-bottom: 1.5px solid $medium-gray;
  display: block;
  margin-bottom: 2.5rem;
  width: 4rem;
}

/* top-bar nav */
.top-bar {
  color: $white;
  font-size: 0.9rem;
  font-weight: 400;
  width: 100%;

  h4 {
    font-size: 1.1rem;
    font-family: Helvetica, Roboto, Arial, sans-serif;
    margin-top: rem-calc(7);
    letter-spacing: 0.1px;
    font-weight: 420;
  }

  span {
    color: lighten($primary, 20%);
    background: $dark-gray;
    margin-right: rem-calc(0);
  }

  ul:last-child {
    padding-right: rem-calc(10);
  }

  li {
    text-transform: uppercase;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $medium-light-gray;
    border-bottom: 0.5px solid $medium-gray;
    font-size: 0.9rem;
    transition: 0.5s ease-in-out;
  }
}
/* logo image top-bar */
.logo {
  width: 59px;
  height: 38px;
  border: 0;
  float: left;
  margin: rem-calc(12 0 0 5);
  padding: rem-calc(0 0 0 10);
}

/* mobile nav and off canvas */
/* title bar */
.title-bar-title {
  font-weight: 400;
  letter-spacing: 0.1px;
  padding: rem-calc(8 0);
  text-transform: uppercase;
  text-align: center;
  font-size: rem-calc(14);
}

.tblogo {
  color: lighten($primary, 20%);
}

/*mobile nav sticky*/
.title-bar {
  position: fixed;
  width: 100%;
  z-index: 3;
  padding-top: -10px;
font-family: Helvetica, Roboto, Arial, sans-serif;
}

.top-bar-left
  {
    margin: rem-calc(0 0 0 10);
  }

  .top-bar-right
    {
      margin: rem-calc(0 10 0 0);
    }
/* off canvas heading */
#off-canvas-nav-heading {
  color: lighten($primary, 20%);
  font-family: Helvetica, Roboto, Arial, sans-serif;
  text-transform: uppercase;
  font-size: 1.1rem;
  float: right;
  font-weight: 430;
  margin: rem-calc(30 36 0 0)

}

.logo-nav {
  width: 58px;
  height: 35px;
  border: 0;
  margin: rem-calc(0);
  padding: rem-calc(0 0 0 9);
}

#off-canvas-nav-subheading {
  color: $white;
  font-size: 0.9rem;
  margin: rem-calc(0 0 0 22);
  padding: rem-calc(0 0 20 0);
}


/* off canvas navigation */
div.off-canvas-nav-list {
  li {
    text-transform: uppercase;
  }

  a {
    color: $white;
    font-size: 0.9rem;
  }

  a:hover {
    background-color: lighten($dark-gray, 3%);
    color: lighten($primary, 18%);
    transition: 0.2s ease-in-out;
  }
}

/* off canvas logo */

.logo-nav {
  width: 59px;
  height: 38px;
  border: 0;
  margin: rem-calc(0 0 10 0)
}

/* about section */
#about {
  padding: rem-calc(60 20);
background: linear-gradient(to right bottom, #002740 1%, $primary 68%);

  h3 {
      color: $white;
  };

  h4 {
    color: $light-gray;
      font-size: rem-calc(20);
      font-weight: 420;
      @include breakpoint(small only) {
        text-align: center;
        padding-bottom: 5px;
        font-size: rem-calc(18);
      }

  }
  p {
    color: $white;
    font-size: rem-calc(18);

    @include breakpoint(small only) {
          font-size: rem-calc(16);
    }
  }
}

/* meet our team */
/* team section */
#team {
  background: white;
  padding: rem-calc(60 20);
}

#bio-photo {
  @include flex;
  @include flex-align(center, middle);


  @include breakpoint(large) {

  background: -webkit-linear-gradient($black 1%, $dark-gray 88%);
  background: -o-linear-gradient($black 1%, $dark-gray 88%);
  background: linear-gradient($black 1%, $dark-gray 88%);
      padding: rem-calc(10 0 10 0);


    img {
      width: 70%;
      height: 100%;
    }

    }
}

h3.bio-name {
  padding: rem-calc(25 0 5 0);
  font-size: rem-calc(22);
}

.bio-left {
  p {
    font-size: rem-calc(18);
  }
    padding: rem-calc(10);

}

.bio-right {
  p {
    font-size: rem-calc(18);
  }
    padding: rem-calc(10);
}
