

/* global style*/

h3 {
  padding-bottom: rem-calc(7);
}

hr {
  border-bottom: 1.5px solid $medium-gray;
  display: block;
  margin-bottom: 2.5rem;
  width: 4rem;
}
/* top-bar nav */

.top-bar {
  color: $white;
  font-size: 0.9rem;
  width: 100%;

  h4 {
    font-size: 1.0rem;
    padding: rem-calc(3 10);
    margin-top: rem-calc(7);
    letter-spacing: 0.1px;
  }

  span {
    color: lighten( $primary, 30% );
    background: $dark-gray;
    margin-right: rem-calc(5);
  }

  ul {
    padding-right: rem-calc(15)
  }

  li {
    text-transform: uppercase;
  }

  a {
    color: $white;
  }

  a:hover {
    color: $medium-light-gray;
    border-bottom: 1.0px solid $medium-light-gray;
      font-size: 0.9rem;
      transition: 0.3s ease-in-out;
   }
}

/* mobile nav and off canvas */
/* title bar */
.title-bar-title {
  font-weight: 400;
  letter-spacing: 0.1px;
  padding: rem-calc(10 2);
  text-transform: uppercase;
  text-align: center;

}

.tblogo {
  color: lighten( $primary, 30% );
}

/*mobile nav sticky*/

.title-bar {
  position: fixed;
  width: 100%;
  z-index: 1;
  padding-top: -10px;
}

/* off canvas heading */

#off-canvas-nav-heading {
  color: lighten( $primary, 30% );
  text-transform: uppercase;
  font-size: 1.2rem;
}
#off-canvas-nav-subheading {
  color: $white;
  font-size: 0.8rem;
}
/* off canvas navigation */

div.off-canvas-nav-list {
  li {
    text-transform: uppercase;
  }

  a {
    color: $white;
    font-size: 0.9rem;
  }

  a:hover {
    background-color: lighten( $dark-gray, 3% );
    color: lighten( $primary, 30% );
    transition: 0.2s ease-in-out;
  }
}

/* home callout section and showcase*/

.callout.large {
  height: 60vh;
  padding-top: rem-calc(200);
  color: $white;
  margin-top: -2px;

  h1 {
    color: black;
  }
}

a.button.small {
  margin: rem-calc(10);
  padding: rem-calc(8 19);
  font-weight: 450;
  font-size: rem-calc(20);
  line-height: 1.25;
  border-radius: 2px;
  background-color: #EFBB20;
  box-shadow: -3px -3px 5px $medium-gray;
}

/*CTA Buttons Hover*/
a.button.small:hover {
 background-color: lighten( #EFBB20, 20% );
 transition: 0.3s ease-in-out;
 color: black;
 font-size: rem-calc(20);
}


/*showcase*/

#showcase {
  width: 100%;
}

/* who we are */

#about {
  padding: rem-calc(60 20);
}
/* our services */

#services {
  padding: rem-calc(60 20);
}

/* why us */

.why-us {
  background: $light-gray;
  padding: rem-calc(60 20);
}

/* partners */
section.partners {
  background: $light-gray;
  padding: rem-calc(60 20);

}

/* meet our team */

/* team section and thumbnail */
#team {
  background: white;
  padding: rem-calc(60 20);

  div.media-object-section {
    padding: rem-calc(10);

  }
  .thumbnail {
    border:none;
  }
}
