/* footer  */

.site-footer {

  background: #2C353D;
  color: white;
  height: 200%;
  padding: rem-calc(40 20);

  address {
    font-style: normal;
  }

  ul {
    list-style-type: none;
    font-size: 0.9rem;
    @include breakpoint(small only) {
      text-align: center;
      font-size: 0.8rem;
    }
  }

  i.fa.fa-map-marker {
    font-size: 1.1rem;
    padding-right: rem-calc(5);
  }

  .indent {
    text-indent: rem-calc(20);
  }

  i.fa {
    color: lighten( $primary, 30% );
    padding-right: 5px;
    font-size: rem-calc(15);
  }

  h5 {

    margin: rem-calc(12 0 0 0);
    @include breakpoint(large) {
      font-size: rem-calc(18);

    }
    @include breakpoint(medium only) {
      font-size: rem-calc(15);
      overflow: hidden;
    }
    @include breakpoint(small only) {
      text-align: center;
      font-size: rem-calc(16);
      padding-bottom: 15px;
    }
  }

  span {
    color: lighten( $primary, 12% );

  }


  p {
    font-size: rem-calc(15);
  }
}

.logo-footer {
  width: 74px;
  height: 53px;
  border: 0;
  float: left;
  margin: rem-calc(0 0 0 8);
  padding: rem-calc(0 2 0 0);
}
