/* footer  */

.site-footer {
  background: #2C353D;
  color: white;
  height: 200%;
  padding: rem-calc(40 20);

  address {
    font-style: normal;
  }

  ul {
    list-style-type: none;
    font-size: 0.9rem;
    @include breakpoint(small only) {
      text-align: center;
      font-size: 0.8rem;
    }
  }

  i.fa.fa-map-marker {
    font-size: 1.1rem;
    padding-right: rem-calc(5);
  }

  .indent {
    text-indent: rem-calc(20);
  }

  i.fa {
    color: lighten( $primary, 30% );
    padding-right: 5px;
    font-size: rem-calc(15);
  }

  h5 {
    font-size: rem-calc(17);
    @include breakpoint(medium) {
      font-size: rem-calc(16);
    }
    @include breakpoint(small only) {
      text-align: center;
      font-size: rem-calc(16);
    }
  }

  span {
    color: lighten( $primary, 30% );
  }

  p {
    font-size: rem-calc(15);
  }
}
