/* hero section*/
$hero-height: 100vh;

.hero {
  width: 100%;
  text-align: center;
  height: $hero-height;
  background: $dark-gray;
  position: relative;
  color: $white;
}

.hero h1 {
  color: $white;
  border-right: $white solid 2px;
  text-align: right;
  text-transform: uppercase;
  padding: rem-calc(0 25 0 0);
  margin: rem-calc(0 20 60 20);
  font-family: Helvetica, Roboto, Arial, sans-serif;
  font-weight: 600;
  font-size: 4.8rem;
  @include breakpoint(small only) {
    font-size: rem-calc(48);
    color: white;
    margin: rem-calc(0 0 25 0);
    padding: rem-calc(0 15 0 0);
    text-align: right;
  }
}

.hero p {
  font-size: 2.2rem;
  padding: rem-calc(0 0 25 0);
  font-weight: 470;
  @include breakpoint(medium only) {
    font-size: 2.0rem;
  }
  @include breakpoint(small only) {
    font-size: rem-calc(24);
    font-weight: 420;
  }
}
/* hero buttons cta */
#hero-project-button {
  background-color: $buttoncolor;
}

a #projects {
  background-color: $buttoncolor;
}

.button {
  background-color: Transparent;
  background-repeat: no-repeat;
  border: none;
  border: 1.5px solid $buttoncolor;
  border-radius: 1px;
  color: $white;
  text-transform: uppercase;
  transition: 0.5s ease-in-out;
  font-weight: 450;
  @include breakpoint(small) {
    padding: rem-calc(8 4);
    font-size: rem-calc(12);
    margin: rem-calc(1);
  }
  @include breakpoint(medium) {
    padding: $button-padding;
    margin: rem-calc(5);
  }
  @include breakpoint(large) {
    padding: $button-padding;
    margin: rem-calc(5);
  }

  &:active,
  &:focus,
  &:hover {
    color: black;
    background: lighten($white, 5%);
    transition: 0.5s ease-in-out;
    filter: grayscale(40%);
    -webkit-filter: grayscale(40%);
    opacity: 0.7;
  }
}

.hero-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
}

.hero-title {
  // keep as em unit so it doesn's stack on itself
  line-height: 1.25em;
  margin-bottom: 1.8rem;
}

.hero-description {
  margin-bottom: 1rem;
}

.hero-bg-image {
  overflow: hidden;
  background: url("../img/hero.jpg") 50% no-repeat;
  background-position: center center;
  background-size: cover;
  /*overlay*/
  &:before {
    content: '';
    display: block;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
    position: relative;
  }
}
/* end hero */
