/* main page project events Image Mouseover and Buttons*/

.thumbnail {
  border:none;
}

.main-gal {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.main-gal img {
  width: 100%;
  left: 0;
  bottom: 0;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-gal .cptn {
  background: $dark-gray;
  width: 100%;
  height: 19%;
  bottom: -19%;
  @include breakpoint(large) {
    height: 20%;
    bottom: -20%;
  }
  position: absolute;
  left: 0;
  overflow: hidden;
  padding: rem-calc(3 0);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-gal .cptn div {
  height: 100%;
}

.main-gal .cptn .button {

@include horizontal-center;
  -wibkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;

  width: 100%;
  background-color: $dark-gray;
  line-height: rem-calc(20);
  text-align: center;
  padding: rem-calc(8 0 30 0);
  font-weight: 460;
  line-height: 1.28;
  @include breakpoint(small only) {
    font-size: 0.9rem;
      padding: rem-calc(10 0 25 0);
  }
    @include breakpoint(medium only) {
      font-size: 1.0rem;
        padding: rem-calc(15 0 30 0);
    }

  color: $white;

  span {
    margin-left: rem-calc(4);
    color: white;
  }
}
.main-gal .cptn .button:hover {
    background-color: lighten( $dark-gray, 5% );
    transition: 0.3s ease-in-out;
}
.main-gal:hover .cptn {
  bottom: 0;
}
