/*Project Image Mouseover and Buttons*/
.main-gal {
  width: 100%;
  position: relative;
  overflow: hidden;
  -webkit-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
  box-shadow: 1px 1px 3px 0 rgba(0, 0, 0, 0.3);
}

.main-gal img {
  width: 100%;
  left: 0;
  bottom: 0;
  position: relative;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-gal .cptn {
  background: $dark-gray;
  width: 100%;
  height: 25%;
  bottom: -25%;
  position: absolute;
  left: 0;
  overflow: hidden;
  padding: rem-calc(3 8);
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
}

.main-gal .cptn div {
  float: left;
  height: 100%;
}

.main-gal .cptn .button {
  -wibkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  -wibkit-border-radius: 2%;
  -moz-border-radius: 2%;
  border-radius: 2%;
  margin-top: rem-calc(6);
  float: right;
  background-color: #EFBB20;
  line-height: rem-calc(20);
  text-align: center;
  padding: rem-calc(5 8);
  font-weight: 460;
  line-height: 1.28;
  border-radius: rem-calc(2);
  @include breakpoint(medium only) {
    font-size: 1.4rem;
  }
  @include breakpoint(small only) {
    font-size: 1.4rem;
  }
  color: black;

  span {
    margin-left: rem-calc(3);
    color: black;
  }
}
.main-gal .cptn .button:hover {
    background-color: lighten( #EFBB20, 25% );
    transition: 0.3s ease-in-out;
    color: black;
}
.main-gal .cptn h3 {
  color: #fff;
  margin-top: rem-calc(6);
  margin-bottom: 0;
  font-size: 1.0rem;
  font-weight: normal;
  @include breakpoint(medium only) {
    font-size: 1.4rem;
  }
  @include breakpoint(small only) {
    font-size: 1.3rem;
  }
}

.main-gal:hover .cptn {
  bottom: 0;
}
