/*Projects Pages*/

/* current projects Main Page */

#current-p {
  padding: rem-calc(60 0);
  background-color: $white;

}

/*Projects Hero Section On Individual Projects Pages*/
section.project {
  padding: rem-calc(40 25);
  background-color: $white;

  p {
    font-size: 1.0rem;
  }
}

section.project-name {
  padding-top: rem-calc(80);
}
  /*Project Pages Hero Section*/

.hero-section-a {
  background: url('../img/project-page-gallery/hero/thevuehero.jpg') 50% no-repeat;
    /*vue*/
  background-size: cover;
  height: 60vh;

}
.hero-section-b {
  background: url('../img/project-page-gallery/hero/tc_hero.jpg') 50% no-repeat;
      /*tc*/
  background-size: cover;
  height: 60vh;
}
.hero-section-c {
  background: url('../img/project-page-gallery/hero/bs_hero.jpg') 50% no-repeat;
    /*broadstone*/
  background-size: cover;
  height: 60vh;
}
.hero-section-d {
  background: url('../img/cranenight.jpg') 50% no-repeat;
    /*vista*/
  background-size: cover;
  height: 60vh;
}
.hero-section-e {
  background: url('../img/cranenight.jpg') 50% no-repeat;
  /*wol church*/
  background-size: cover;
  height: 60vh;
}

.hero-section-f {
  background: url('../img/cranenight.jpg') 50% no-repeat;
  /*mil fitness*/
  background-size: cover;
  height: 60vh;
}
.hero-section-g {
  background: url('../img/concretepour.jpg') 50% no-repeat;
    /*pac station*/
  background-size: cover;
  height: 60vh;
}

.hero-section-h {
  background: url('../img/concrete1.jpg') 50% no-repeat;
    /*project 8*/
  background-size: cover;
  height: 60vh;
}

/*project breadcrumbs*/
.navbc {
  padding-left: rem-calc(20);
  .breadcrumbs {
    color: $black;
    text-transform: uppercase;
    font-size: rem-calc(11);
  }
}
/*project spec and icons and overview*/
.project-spec {
  padding: rem-calc(0 10);
  letter-spacing: 0.1px;

  .fa {
    color: $primary;
    padding-right: rem-calc(5);
    font-size: 1.2rem;
  }
}
.project-overview {
  padding: rem-calc(0 10);
}

/*project galleries thumbnails flex box alignment*/
.project-thumbs {
  background-color: $white;
  margin: rem-calc(0);

  .cell {
    padding: rem-calc(0);
    @include breakpoint(large) {
      @include flex;
      @include flex-align(center, middle);
      margin: rem-calc(15 0);
    };

    @include breakpoint(small) {
      @include xy-grid-collapse();
    };
  }
}
