<footer>
  <div class="grid-x">
        <div class="small-12 medium-6 large-6 cell">
          <h5><span>Thunder-Jones</span> Contracting Group Inc</h5>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos mollitia fugiat</p>
        

        </div>
    <div class="small-12 medium-3 large-3 cell">

      <address>
        <ul >
          <li><i class="fa fa-address-card-o"></i> 2515 Pioneer Ave, Suite 1 </li>
            <li class="indent"> Vista, CA 92081</li>
            <br>
            <li><i class="fa fa-clock-o"></i> Mon - Fri: 9:00 am - 5:00 pm</li>
          </ul>
        </address>
    </div>

    <div class="small-12 medium-3 large-3 cell">
      <ul>
        <li><i class="fa fa-phone"></i> (760) 597-0057</li>
        <li><i class="fa fa-fax"></i> (760) 597-0058</li>
        <br>
        <li><i class="fa fa-envelope"></i> info@thunderjones.com</li>
      </ul>
    </div>
  </div>
</footer>
