<div id="current-p">

  <div class="grid-x">
    <div class="medium-12 cell">
      <h3 class="text-center">Projects</h3>
      <hr>
    </div>
  </div>
<div class="grid-container full">
  <div class="grid-x margin-collapse small-up-1 medium-up-2 large-up-4 ">

    <div class="cell">
      <div class="main-gal">
        <img src="/assets/img/main-page-gallery/vuelink.jpg" class="thumbnail" alt="">
        <div class="cptn">

        <a href="project1_thevue.html" target="_blank" class="button">The Vue on 5th <span><i class="fa fa-arrow-circle-right"></i></span></a>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="main-gal">
        <img src="../assets/img/main-page-gallery/tc-link.jpg" class="thumbnail" alt="">
        <div class="cptn">
          <a href="project2_tc.html" target="_blank" class="button">Town & Country Hotel <span><i class="fa fa-arrow-circle-right"></i></span></a>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="main-gal">
        <img src="../assets/img/main-page-gallery/broadstone-link.jpg" class="thumbnail" alt="">
        <div class="cptn">
          <a href="project3_broad.html" target="_blank" class="button">Broadstone Little Italy <span><i class="fa fa-arrow-circle-right"></i></span></a>
        </div>
      </div>
    </div>

    <div class="cell">
      <div class="main-gal">
        <img src="../assets/img/main-page-gallery/vista-link.jpg" class="thumbnail" alt="">
        <div class="cptn">
          <a href="project4_vista.html" target="_blank" class="button">Vista Medical Clinic <span><i class="fa fa-arrow-circle-right"></i></span></a>
        </div>
      </div>
    </div>

    <!-- Projects 2nd Row-->

    <div class="grid-x margin-collapse small-up-1 medium-up-2 large-up-4 ">
      <div class="cell">
        <div class="main-gal">
          <img src="../assets/img/main-page-gallery/church-link.jpg" class="thumbnail" alt="">
          <div class="cptn">
            <a href="project5_water.html" target="_blank" class="button">Water of Life Church <span><i class="fa fa-arrow-circle-right"></i></span></a>
          </div>
        </div>
      </div>

      <div class="cell">
        <div class="main-gal">
          <img src="../assets/img/main-page-gallery/military-link.jpg" class="thumbnail" alt="">
          <div class="cptn">
            <a href="project6_military.html" target="_blank" class="button">Military Fitness <span><i class="fa fa-arrow-circle-right"></i></span></a>
          </div>
        </div>
      </div>

      <div class="cell">
        <div class="main-gal">
          <img src="../assets/img/main-page-gallery/pacs-link.jpg" class="thumbnail" alt="">
          <div class="cptn">
            <a href="project7_pac.html" target="_blank" class="button">Pacific Station <span><i class="fa fa-arrow-circle-right"></i></span></a>
          </div>
        </div>
      </div>

      <div class="cell">
        <div class="main-gal">
          <img src="../assets/img/main-page-gallery/project-link.jpg" class="thumbnail" alt="">
          <div class="cptn">
            <a href="project8.html" target="_blank" class="button">Project 8 <span><i class="fa fa-arrow-circle-right"></i></span></a>
          </div>
        </div>
      </div>
    </div>

  </div>
