<!-- Navigation -->
<!-- medium and larger nav bar -->
<div data-sticky-container>
  <div class="title-bar" data-responsive-toggle="responsive-menu" data-hide-for="medium">
  </div>

  <div class="top-bar" id="responsive-menu" data-sticky data-margin-top="0">

    <div class="top-bar-left">
      <img class="logo" src="../assets/img/tjc_transparent_logo block_small_white.png" class="thumbnail" alt="">

      <ul class="dropdown menu" data-dropdown-menu>
        <li class="menu-text">
          <h4><span>Thunder Jones</span></h4></li>
    </div>

    <div class="top-bar-right">
      <ul class="menu" data-magellan>
        <li><a href="index.html#home">Home</a></li>
        <li><a href="index.html#about">About</a></li>
        <li><a href="index.html#projects">Projects</a></li>
        <li><a href="index.html#team">Team</a></li>
        <li><a href="index.html#contact">Contact</a></li>
      </ul>
    </div>

  </div>
</div>

<!-- /Navigation -->